<!DOCTYPE html>

<html>

<!-- 
relative path
"./css/styles.css"
absolute path 
"/css/styles.css"
-->

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
<body>
    <div class="main-content">
        {{>header}}

        {{!-- <p>Use this site to get your weather!</p> --}}
        <p>Enter your city name and get the weather!</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>